
<% include partials/header %>


    
    
    <div id="topgridMargin" class="ui sixteen wide centered grid">
      
      <div class="two wide column"></div>
      <div class="twelve wide column">
          <h2 align="center"> WELCOME TO RESULTS PAGE</h2>  
          <div class="ui search right align">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search Coin...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
          
          <div class="ui raised segment">
                  <table class="ui table">
                    <thead>
                      
                      <tr>
                        <th colspan="2">Project</th>
                        <th colspan="3">ICO Price</th>
                        <th colspan="3">Market Price</th>
                        <th colspan="3">ICO Return</th>
                      </tr>            
                      <tr>
                          <th>Project</th>
                          <th >Symbol</th>
                          <th>BTC ICO Price</th>
                          <th>ETH ICO Price</th>
                          <th>USD ICO Price</th>
                          <th>BTC Current Price</th>
                          <th>ETH Current Price</th>
                          <th>USD Current Price</th>
                          <th>BTC Return</th>
                          <th>ETH Return</th>
                          <th>USD Return</th>
                          
                      </tr>
                      </thead>
                      <tbody>
                  <% coinDetails.forEach(function(coin){ %>    
                    
                          <tr>
                              <td ><a href="/coins/<%= coin._id %>"><%= coin.coinName %></a></td>
                              <td ><%= coin.coinSym %></td>
                              <td><%= coin.icobtcValue %></td>
                              <td><%= coin.icoethValue %></td>
                              <td><%= coin.icousdValue %></td>
                              <td><%= coin.btcValue %></td>
                              <td><%= coin.ethValue %> </td>
                              <td><%= coin.usdValue %> </td>
                              <td><%= (coin.btcValue/coin.icobtcValue).toFixed(2) %>X </td>
                              <td><%= (coin.ethValue/coin.icoethValue).toFixed(2) %>X </td>
                              <td><%= (coin.usdValue/coin.icousdValue).toFixed(2) %>X </td>
                          </tr>
                  
                  <%})%>
                      </tbody>
                  </table>
          </div>  
            
            
          <% coinDetails.forEach(function(coin){  %>
                
                <div class="ui raised segment">
                    <div class="ui content">
                        <div class="ui nine column very relaxed grid">

                          <div class="column">
                              <div class="ui center floated header">
                                <img class="logo" src ="<%=coin.coinSym %>">
                              </div>
                            
                          </div>
                          
                          <div class="column">
                              <div class="ui center floated header">
                                 <a href="/coins/<%= coin._id %>"> <%= coin.coinName %>  </a>(<%=coin.coinSym %>)
                              </div>
                            
                          </div>
                          
                          <div class="column">
    
                            <div class="ui left floated centered content">
                                    <strong>ICO PRICE</strong> </br>
                                    $<%= coin.icousdValue %>
                            </div>
                            
                          </div>
                          
                          <div class="column">
                            <div class="ui left floated centered content">
                                    <strong> MARKET CAP </strong> </br>
                                    <%= coin.icoethValue %>
                            </div>                        
                            
                          </div>
                          
                          <div class="column">
                            <div class="ui left floated centered content">
                                    <strong> CURRENT PRICE </strong> </br>
                                    <%= coin.icobtcValue %>
                            </div>                        
                            
                          </div>                      
                          
    
                          <div class="column">
                            <div class="ui left floated centered content">
                                    <strong> ROI USD </strong> </br>
                                    <%= (coin.usdValue/coin.icousdValue).toFixed(2) %>X
                            </div>                        
                            
                      </div>
    
                          <div class="column">
                            <div class="ui left floated centered content">
                                    <strong>ROI ETH </strong></br>
                                    <%= (coin.ethValue/coin.icoethValue).toFixed(2) %>X
                            </div>                        
                            
                      </div>
    
                          <div class="column">
                            <p class="ui italic tiny description">
                                    <strong> ROI BTC </strong> </br>
                                    <%= (coin.btcValue/coin.icobtcValue).toFixed(2) %>X
                            </p>
                            
                      </div>
                          
                          <div class="column">
                              <div>
                               <a  href="/coins/<%=coin._id %>">
                                    <i class="right chevron icon"></i>
                                </a>                             
                              </div>
                          </div>
                          
                        </div>                        
                    </div>

                </div> 
                
          <% }); %>
                
                </br> </br> </br>  
            
            
      </div>
      <div class="two wide column"></div>
    </div>


<% include partials/footer %>

